.historyPanel {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 240px;
	z-index: 40;
	background-color: #444;
	color: #ccc;
	max-height: 280px;
	display: flex;
	flex-direction: column;
}

.historyPanel > header {
	padding: 10px;
	display: flex;
}

.historyPanel > header > .divider {
	flex: 1;
}

.newLayerButton {
	position: absolute;
	right: 8px;
	top: 8px;
	height: 20px;
	padding: 2px 10px;
	font-size: 0.8em;
	line-height: 0;
}

.historyPanel .entriesContainer {
	overflow-y: auto;
}

.historyEntry {
	display:table;
	padding: 7px 12px 7px 0;
	width: 100%;
	font-size: 0.9em;
	height: 40px;
	border-top: 1px solid #333;
}

.historyEntry:hover {
	background-color: #555;
}
.historyEntry.active {
	background-color: #666;
}

.historyEntry {
	border-left: 5px solid transparent;
	padding-left: 10px;
}

.historyEntry.active {
	border-left: 5px solid #009dec;
}