@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');

body, html {
	overflow:hidden;
	height: 100%;
}

body {
	font-family: 'Poppins', sans-serif;
	--primary-color: #3AAB75;
}

@media (prefers-color-scheme: dark) {
	body {
		--background-color: #121212;
		--text-color: #ffffff;
		--card-color: #313131;
		--border-color: #333333;
	}
}

@media not (prefers-color-scheme: dark) {
	body {
		--background-color: #ffffff;
		--text-color: #000000;
		--card-color: #f5f5f5;
		--border-color: #e0e0e0;
	}
}

#paperCanvas {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	/* background-color: #FFFFE0; */
}

#paperCanvas.xviMode {
	background-color: rgb(175, 230, 255);
}

body {
	font-size: 14px;
	line-height: 16px;
}

input, button, textarea, label, select {
	font-size: inherit;
	font-family: inherit;
}

input, select, textarea {
	border: 1px solid var(--border-color);
	border-radius: 4px;
	padding: 0 4px;
	height: 22px;
	box-shadow: none;
	max-width: 100%;
	width: auto;
}

input[type=number], input[type=text] {
	min-width: 5ch;
}

input[type=checkbox] {
	min-width: 16px;
}

pre {
	font-family: monospace;
	user-select: all;
}

pre.scrollable {
	overflow-x: scroll;
}

.hidden {
	display: none;
}

.zoom-in {
	cursor: -webkit-zoom-in;
	cursor: zoom-in;
}

.zoom-out {
	cursor: -webkit-zoom-out;
	cursor: zoom-out;
}

.grab {
	cursor: -moz-grab;
	cursor: -webkit-grab;
	cursor: grab;
}

.grabbing {
	cursor: -moz-grabbing;
	cursor: -webkit-grabbing;
	cursor: grabbing;
}

.colorInputBlocker,
.menuInputBlocker {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: transparent;
	z-index: 300;
}

.menuInputBlocker {
	z-index: 99;
}

input::-webkit-inner-spin-button, 
input::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0; 
	
}

input[type=number] {
	appearance: textfield;
	-moz-appearance: textfield;
}

select::-ms-expand {
	display: none;
}

button {
	cursor:pointer;
}

.search-ui {
	display: flex;
	flex-direction: row;
}

.search-ui input {
	flex: 1;
}

.search-ui div {
	margin: 0 10px;
}

#validationResult a {
	display: block;
}